if errors
	each error in errors
		p.alert.alert-danger.alert-dismissable
			button.close( type="button" data-dismiss="alert" aria-hidden="true" ) &times;
			|#{error}

form.admin-model-form( action=form_url method="POST" )
	if form_method
		input( type="hidden" name="_method" value=form_method )
	input( type="hidden" name="_csrf" value=csrf_token )
	.container-fluid
		.row
			.col-lg-9
				.form-group
					label( for="title" ) Title:
					input#title.form-control.input-lg( type="text" value=menu_item.title placeholder="Enter title" name="title" )

				.form-group
					label( for="url" ) Url:
					input#url.form-control( type="text" value=menu_item.url placeholder="Enter url" name="url" )

			aside.col-lg-3
				.panel.panel-default
					.panel-heading
						|Actions
					.panel-body
						button.btn.btn-success.btn-block( type="submit" )
							i.glyphicon.glyphicon-floppy-save
							if form_method
								|&nbsp;Update
							else
								|&nbsp;Save
						a.btn.btn-warning.btn-block( href="/admin/menu_items" )
							i.glyphicon.glyphicon-remove
							|&nbsp;Cancel
